body{
    padding: 0px;
    margin: 0 auto;
}
#content{
    text-align: center;
    margin: 0 auto;
}
#circles{
    width: 100%;
    height: 100%;
    padding: 0px;
    display: block;
}
#row{
    display: flex;
    background-color: gray;
    padding: 0px;
}
.column{
    flex: 33.33%;
    padding: 30px;

}
.img{
    border-radius: 50%;
    border: 15px solid rgb(50, 50, 50);
}