@import url('https://fonts.googleapis.com/css2?family=Gugi&family=Oxanium&display=swap');

#content{
    max-width: 1600px;
    margin: 0 auto;
}

body{
    background-color: #2D6A87;
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header{
    background-color: #067bc2;
    display: grid;
    grid-template-columns: 150px auto;
}

.logo{
    width: 80px;
}
#logo_link{
    padding-top: 5px; 
    justify-self: center;
    align-self: center;
}
nav {
    display: flex;
    justify-content: space-around;
}
nav a{
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 35px;
}

nav a:hover{
    background-color:#84bcda;
    color:black;
}


* {
    box-sizing: border-box;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .container {
    position: relative;
  }
  
  /* Hide the images by default */
  .mySlides {
    width: 100%;
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumbbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }


#hero-msg{
    grid-column: 2/3;
    grid-row: 1/2;
}

.home-title{
    text-align: center;
    font-family: "Gugi";
    font-size: 60px;
}

.button-box{
    text-align: center;
    padding-top: 50px;
    font-size: 40px;
}

.donate{
    background-color:#067bc2;
    color: white;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 50px;
    box-shadow: 5px 5px 10px black;
}

.donate:hover{
    background-color:#84bcda;
    color:black;
    cursor: pointer;
}
main{
    padding-top: 150px;
}

section{
    box-shadow: 0px 0px 500px white;
}

.home-grid{
    display: grid;
    grid-template-columns: 2fr 2fr;
}

#skaters{
    text-align: center;
    grid-column: 1/2;
    padding-top: 50px;
    padding-right: 50px;
    padding-left: 150px;
    padding-bottom: 50px;
    background-color: #067bc2;
}

#skaters-img{
    width: 100%;
    box-shadow: 5px 5px 10px black;
}

#msg{
    padding-top: 50px;
    padding-left: 50px;
    background-color: #84bcda;
    padding-right: 150px;
    font-size: 25px;
}

#msg h2{
    text-decoration: underline;
    font-size: 40px;
}

footer{
    background-color: #067bc2;
    padding: 25px 50px;
    margin-top: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer h3{
    color: #F1FAEE;
}
footer .social img{
    padding-top: 15px;
}
footer a{
    color: #F1FAEE;
    text-decoration: none;
}
footer a:hover{
    color: #ecc30b;
}

/* ----------FAQ page CSS---------- */

#body2{
    background-color: #F1FAEE;
}

.faq-grid{
    margin-top: -100px;
    text-align: center;
    
}

.q-a{
    text-align: left;
    background-color:rgba(45, 106, 135, .5);
    
}

.two, .four{
    background-color: #F1FAEE;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 50px;
    
}
.one{
    padding-top: 5px;
    padding-left: 50px;
}
.five{
    padding-bottom: 5px;
    padding-left: 50px;
}

.three{
    padding-left: 50px;
}

section{
    box-shadow: none;
}

.faq-button{
    background-color:#067bc2;
    color: white;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 50px;
}

.faq-button:hover{
    background-color:#84bcda;
    color:black;
    cursor: pointer;
}

strong{
    font-size: 25px;
}

/* -----------About Us CSS----------- */

#body3{
    background-color: #F1FAEE;
}

#owners{
    width: 25%;
    place-self: center;
    border: 10px solid #84bcda;
    border-radius: 10px;
}

#img-text{
    display: grid;
}

.about-grid{
    text-align: center;
    margin-top: -100px;
}

.about p{
    font-size: 25px;
    padding-top: 5px;
    margin-left: 150px;
    margin-right: 150px;
    text-align: left;
}

.about h1{
    background-color: #84bcda;
    margin-left: 350px;
    margin-right: 350px;
    border-radius: 10px;
}

.goal{
    padding-top: 50px;
}

#goal-text{
    margin-left: 150px;
    margin-right: 150px;
}

.goal h1{
    background-color: #84bcda;
    margin-left: 350px;
    margin-right: 350px;
    border-radius: 10px;
}

.goal p{
    font-size: 25px;
    text-align: left;
}